h1 {
    text-align: center;
}

.multicol { 
    columns: 10em;
    column-rule: thin solid midnightblue; 
}

.multicol > h2 { 
    column-span: all; 
    text-align: center;
    line-height: 3em;
}

.center{
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: thin solid black;
}

.name{
    float: right;
}

.refs{
    float: left;
}