h1 {
    text-align: center;
}
.multicol { 
    columns: 10em;
    column-rule: thin solid midnightblue; 
}

.multicol > h2 { 
    column-span: all; 
    text-align: center;
}

img{
    border: thin solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}